@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F1F3;
    font-family: "Fira Sans", serif;
}
.opacity-1{
    opacity: 0.7;
}
.opacity-2{
    opacity: 0.8;
}
.opacity-3{
    opacity: 0.6;
}
/*banner*/

.banner{
    margin: 120px 160px 80px 160px;
}
.banner-box{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 59.99px;
    align-items: center;

}
.banner-content{
    padding: 37px 0px;
    padding-right: 64px;
}
.subtitle{
    padding-bottom: 16px;
    color: rgba(14, 14, 14, 0.500);
}
.title{
    padding-bottom: 24px;
}
.btn-1{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.banner-image{
    width: 400px;
}


/*Vision*/

.future-vision{
    padding: 0px 160px 80px;
}
.vision-title{
    padding-bottom: 24px;
}
.vision-subtitle{
    padding-bottom: 32px;
}
.visions{
    display: flex;
    gap: 24px;
}
.vision-1{
    background-color: rgba(84, 143, 245, 0.200);
    border-radius: 16px;
    padding: 32px;
}
.vision-2{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}
.vision-3{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}
.vision3-title{
    padding: 24px 0px 12px;
}
.vision3-description{
    padding-bottom: 24px;
}

.btn-2{
    background-color: #5490F5;
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.btn-3{
    background-color: #09A15C;
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.btn-4{
    background-color: #FFC239;
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}


/*quote*/

.quote{
    padding: 32px 160px 80px;
}
.quotesion{
    background-color: #FFFFFF;
    background-image: url(images/quote-bg.png);
    background-repeat: no-repeat;
    padding: 48px 24px;
    border-radius: 16px;
    background-position: 25px 24px;
}
.what{
    padding-bottom: 12px;
}
.who{
    padding-bottom: 4px;
}
    


/*news*/

.news{
    padding: 0px 160px 80px;
}
.news-title{
    padding-bottom: 24px;
}
.news-description{
    padding-bottom: 32px;
}

.satellite {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: white;
    padding: 48px;
    border-radius: 20px;
    margin-bottom: 24px;
  }
  .satellite-img {
    width: 400px;
  }


  /*donate*/

  .donate{
    padding: 0px 160px 80px;
  }
  .donate-description{
    text-align: center;
  }
  .donate-amounts{
    display: flex;
    justify-content: space-around;
    padding-bottom: 32px;
  }
  .amount-1{
    background-color: white;
    padding: 40px;
    border-radius: 16px;
  }
  .amount-2{
    background-color: #C6E4D6;
    padding: 40px;
    border-radius: 16px;
  }
  .input{
    text-align: center;
  }
  .input-number{
    padding: 20px 350px;
    border: none;
  }
  .submit-btn{
    padding-top: 32px;
  }

  /*subscribe*/


  .subscribe{
    padding: 0px 160px 80px;
    text-align: center;
  }
  .subscribe-box{
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 265px;
  }
  .submit{
    text-align: center;
    display: flex;

  }
.input-email{
    padding: 18px 203px 18px 40px;
    background-color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
  }
  .btn-5{
    border-radius: 0 8px 8px 0;
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    color: white;
    font-size: 18px;
  }
